VITE_SUPABASE_URL=https://kkcharfxvzotnzlyjkof.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY2hhcmZ4dnpvdG56bHlqa29mIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3NDYyNjMsImV4cCI6MjA5MTMyMjI2M30.0ZXyvVksaEyTWzf3r1EcNDoJ7Tyc6soZFeUn3l4N0DM
VITE_ADMIN_PASSWORD=mudu2026
